<%- include('./partials/head.ejs') %>
<section class="home-page-basic">
                <section class="home-page">
                    <section class="home-page-intro">
                        <a href="/">
                        <svg title="De correspondent">
                            <use href="../icons-svg/icons.svg#logo-full-red" />
                        </svg>
                    </a>
                        <h1>Podcasts for every Mood</h1>
                        <p>Een dagelijks medicijn tegen de waan van de dag</p>
                        <a href="#onze-shows" class="home-page-intro-button">Bekijk onze show</a>
                    </section>
                    <section class="home-page-first-6item">
                        <% if (data && data.data.length) { %>
                        <% data.data.slice(0,6).forEach(collection => { %>
                            <a id="<%= collection.attributes.slug %>" href="/collection/<%= collection.attributes.slug %>" class="home-page_card">
                                <div>
                                    <picture>
                                        <img srcset="<%= imageFiles[mainVisuals[collection.relationships.mainVisual.data.id]]%>" alt="#TODO" loading="lazy">
                                    </picture>
                                </div>
                                <div>
                                    <p style="--bg:#<%= collection.attributes.style.backgroundColor %>"><%= collection.attributes.title %></p>
                                </div>
                            </a>
                        <% }); %>
                    <% } else { %>
                        <p class="error">Error loading podcasts</p>
                    <% } %>    
                    </section>
                </section>
            <section class="home-page-show">
                <div class="home-page-show__inner">
                    <h2 id="onze-shows">Onze shows</h2>
                    <article  class="home-page_cards">
                    <% if (data && data.data.length) { %>
                    <% data.data.slice(6).forEach(collection => { %>
                        <a id="<%= collection.attributes.slug %>" href="/collection/<%= collection.attributes.slug %>" class="home-page_cards-list panel" style="--bg:#<%= collection.attributes.style.backgroundColor %>">
                            <div>
                                <picture>
                                    <img srcset="<%= imageFiles[mainVisuals[collection.relationships.mainVisual.data.id]]%>" alt="" width="100" height="100" loading="lazy">
                                </picture>
                                <svg title="play button" class="home-page-play-button">
                                    <use href="../icons-svg/icons.svg#play" />
                                </svg>
                            </div>
                            <div>
                                <p><%= collection.attributes.title %></p>
                            </div>
                        </a>
                    <% }); %>
                <% } else { %>
                    <p class="error">Error loading podcasts</p>
                <% } %>  
                </article>
                </div>
        </section>
</section>
</main>
<%- include('./partials/footer.ejs') %>

